# Navigation
alias cdw="cd /mnt/d/www"

# Laravel
alias a="php artisan"

# Git
alias pull="git pull"
alias push="git push"
alias status="git status"
alias branch="git branch"
alias diff="git diff"

# Composer
alias ci="composer install"
alias cr="composer require"
alias cu="composer update"
alias cda="composer dumpautoload"

# Testing
alias phpunit="php ./vendor/phpunit/phpunit/phpunit"

# Services and helpers
alias myip="dig +short myip.opendns.com @resolver1.opendns.com"
alias mailhog="echo 'Starting MailHog @ mailhog.localhost:8025' && ~/go/bin/MailHog -hostname mailhog.localhost"

